@{
	ViewData["Title"] = "TicketFlux";
	Layout = "~/Views/Shared/_Splash.cshtml";
}

@*Features*@
<section class="row pb-3">
	<div class="col pb-3 text-center mb-3" id="features">
		<h1 class="mb-3">If everyone is moving forward together, then success takes care of itself." – Henry Ford</h1>
		<h5 class="mb-3">Features to get you and your team going, like <span class="fw-bold">Role Based Authorization</span>, Creating <span class="fw-bold">Projects</span>, managing <span class="fw-bold">Tickets</span>, and more.</h5>
		<a class="btn btn-outline-primary mb-5 btn-lg" role="button" id="register" asp-area="Identity" asp-page="/Account/Register">Get started -></a>

		<h5>Features</h5>
		<ul>
			<li id="feature1">Feature 1</li>
			<li id="feature2">Feature 2</li>
			<li id="feature3">Feature 3</li>
			<li id="feature4">Feature 4</li>
			<li id="feature5">Feature 5</li>
		</ul>

		<h5>Quotes</h5>
		<ul>
			<li>"Hard work beats talent if talent doesn't work hard." – Tim Notke</li>
			<li>"If you want to go fast, go alone. If you want to go far, go together." – African Proverb</li>
			<li>"None of us, including me, ever do great things. But we can all do small things, with great love, and together we can do something wonderful." – Mother Teresa</li>
			<li>"Cooperation is the thorough conviction that nobody can get there unless everybody gets there." – Virginia Burden</li>
		</ul>
	</div>
</section>

<hr />

@*GitHub*@
<section class="row text-center pb-3" id="github">
	<div class="col">
		<h1 class="display-4">GitHub</h1>
		<p>Check the <a href="https://github.com/Peterkb/BugTracks">GitHub</a> repository.</p>
	</div>
</section>

<hr />

@*Contact*@
<section class="row text-center pb-3" id="contact">
	<div class="col">
		<h2>Get in touch</h2>
		<div class="col">
			<script src="https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
			<lottie-player src="https://assets6.lottiefiles.com/packages/lf20_ygvu4b4g.json" background="transparent" speed="0.7" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
		</div>
	</div>

	<div class="col">
		<div class="col">
			<h5>Get in touch</h5>
			<form>
				<div class="form-floating mb-3">
					<input type="text" class="form-control" placeholder="Name" />
					<label for="floatingInput">Name</label>
				</div>
				<div class="form-floating mb-3">
					<input type="email" class="form-control" placeholder="Email" />
					<label for="floatingInput">Email</label>
				</div>
				<div class="form-floating mb-3">
					<input type="text" class="form-control" placeholder="Subject" />
					<label for="floatingInput">Subject</label>
				</div>
				<div class="form-floating mb-3">
					<textarea class="form-control" type="text" placeholder="Email" ></textarea>
					<label for="floatingTextarea">Email</label>
				</div>
				<button class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</section>

@section scripts{
<script src="~/js/splash.js"></script>
}