@{
	ViewData["Title"] = "Landing";
	Layout = "~/Views/Shared/_Splash.cshtml";
}

<section class="row">	
	<div class="text-center pb-3" id="features">
		<h1 class="display-4">Features</h1>
		<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	</div>
</section>

<div class="text-center pb-3" id="github">
	<h1 class="display-4">GitHub</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center pb-3" id="portfolio">
	<h1 class="display-4">Portfolio</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center pb-3" id="contact">
	<h1 class="display-4">Contact</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>